@charset "utf-8";

$primary: #f13c20;
$dark: #1f2833;
$danger: #e84342;
$background: #e3e2df;
$body-background-color: $background;
$info: #ff6525;
$link: white;
$link-hover: $primary;

.form-500 {
  width: 500px;
  margin: auto;
}

.button {
  transition: 0.5s;
}

.nav-link {
  transition: 0.5s;
  color: white !important;
  &:hover {
    color: $primary !important;
  }
}

li {
  list-style-type: none !important;
}

@import "./bulma-0.9.0/bulma-0.9.0/bulma.sass";

th {
  text-align: center !important;
  color: white !important;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./hero.jpg") center;
  background-size: cover;
}
